# =============================
# DATASET (MovieLens)
# =============================
data/raw/**
data/processed/**

# =============================
# ENVIRONMENT
# =============================
.env
.venv/
venv/